{% extends 'adminlayout.html'%}
{% block content %}


<div class="main-page">
  <div class="tables">
    <h2 class="title1"></h2>
    <div class="panel-body widget-shadow">
      <h4>Materials View:</h4>
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>Material Name</th>
            <th>Images</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for mat in material %}
          <tr>
            <th scope="row">{{mat.id}}</th>
            <td>{{mat.name}}</td>
            <td><span class="image-block">
              <a class="image-zoom" href="static/pics/{{mat.image}}" rel="prettyPhoto[gallery]" style="height: 250px;width: 335px;">
                 <figure>
                    <img src="static/pics/{{mat.image}}" class="img-fluid" alt="" style="height: 50px;width: 50px;">
                    <figcaption>
                       
                    </figcaption>
                 </figure>
              </a>
           </span></td>
            <td><a href="/aapprovededit/{{mat.id}}"><button>Edit</button></a></td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}