{% extends 'adminlayout.html'%}
{% block content %}


<div class="main-page">
  <div class="tables">
    <h2 class="title1"></h2>
    <div class="panel-body widget-shadow">
      <h4>Materials View:</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          {% for feed in feedback %}
          <tr>
            <td>{{feed.name}}</td>
            <td>{{feed.email}}</td>
            <td>{{feed.subject}}</td>
            <td>{{feed.message}}</td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}