{% extends 'publiclayout.html' %}
{% block content %}


 
<div class="contact-w3l">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">Login
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <!-- contact -->
        <div class="contact agileits">
            <div class="contact-agileinfo">
                <div class="contact-form wthree" style="width: 480px;">
                    <form action="#" method="post">
                       
                        
                        <div class="" style="width: 400px;">
                            <input class="email" type="email" name="email" placeholder="Email" required="">
                        </div>
                        <div class="" style="">
                            <input type="password" name="name" placeholder="Password" required="" style="width: 400px;height: 56px;">
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <!-- //contact -->
    </div>
</div>
            
   
  


{% endblock %}