{% extends 'publiclayout.html' %}
{% block content %}


 
<div class="contact-w3l">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">Register Here
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <!-- contact -->
        <div class="register agileits">
           
                <div class="contact-form wthree" style="width: 480px;">
                    <form action="#" method="post">
                        <div class="styled-input agile-styled-input-top" style="height: 35px;">
                            <input type="text" placeholder="Name" name="Name" required="" style="width: 400px;">
                        </div>
                        <div class="styled-input" style="height: 35px;">
                            <input type="email" placeholder="E-mail" name="Email" required="" style="width: 400px;">
                        </div>
                        <div class="styled-input" style="height: 35px;">
                            <input type="password" placeholder="Password" name="password" id="password1" required="" style="width: 400px;">
                        </div>
                        <div class="styled-input" style="height: 35px;">
                            <input type="password" placeholder="Confirm Password" name="Confirm Password" id="password2" required="" style="width: 400px;">
                        </div>
                        <input type="submit" value="Sign Up">
                    </form>
                </div>
           
        </div>
        <!-- //contact -->
    </div>
</div>
            
   
  


{% endblock %}