{% extends 'sellerlayout.html' %}
{% block content%}



<div class="contact-w3l">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">Contact Us
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <!-- contact -->
        <div class="contact agileits">
            <div class="contact-agileinfo">
                <div class="contact-form wthree">
                    <form action="sfeedback" method="POST">
                        <div class="">
                            <input class="text" type="text" name="subject" placeholder="Subject" required="">
                        </div>
                        <div class="">
                            <textarea placeholder="Message" name="message" required=""></textarea>
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <!-- //contact -->
    </div>
</div>


{% endblock %}